{% extends '../layouts/default.twig' %}
{% set head_title = 'Растущий доход' %}
{% set body_class = '' %}
{% set menu_active = 'blank-page' %}
{% set page = 'dohod' %}
{% set src = '/assets/img/dohod/' %}

{% block page %}
    <section class="top">
        <div class="top-image">
            <img src="{{ src }}top-img.png"/>
        </div>
        <div class="container">
            <div class="top-title">
                <h1>Вклад «Растущий доход»</h1>
                <p>Новый год с Россельхозбанк!<br />Успейте открыть вклад с повышеной ставкой!</p>
                <a class="top-btn" href="#" target="_blank">Открыть вклад</a>
            </div>
        </div>
    </section>
    <section class="top-bar">
        <div class="container">
            <div class="top-bar-row">
                <div class="top-bar-item">
                    <h3>до <span>6.3%</span> годовых</h3>
                    <p>Максимальная ставка</p>
                </div>
                <div class="top-bar-item">
                    <h3>
                        от <span>10 000</span> ₽
                    </h3>
                    <p>Минимальная сумма</p>
                </div>
                <div class="top-bar-item">
                    <h3><span>540</span> дней</h3>
                    <p>Срок размещения</p>
                </div>
            </div>
        </div>
    </section>
<section class="b-gray-3">
    <div class="container">
        <h2>Как можно открыть вклад?</h2>
        <div class="b-gray-3-row">
            <div class="b-gray-3-col">
                <div class="b-gray-3-block">
                    <div class="b-gray-3-block-text">
                        В мобильном приложении или интернет-банке
                    </div>
                    <div class="b-gray-3-block-text__small">
                        Для всех клиентов РоссельхозБанк
                    </div>
                    <div class="b-gray-3-block-logos">
                        <a href="#"><img src="{{ src }}play.svg"/></a>
                        <a href="#"><img src="{{ src }}app.svg"/></a>
                    </div>
                    <a class="b-gray-3-block-btn" href="#" target="_blank">Войти в интернет-банк</a>
                </div>
            </div>
            <div class="b-gray-3-col">
                <div class="b-gray-3-block">
                    <div class="b-gray-3-block-text">
                        Станьте нашим клиентом
                    </div>
                    <div class="b-gray-3-block-text__small">
                        Пройдите регистрацию через Госуслуги при наличии данных в Единой биометрической системе
                    </div>
                    <img src="{{ src }}gos.svg" class="mob-logo"/>
                    <img src="{{ src }}gos2.svg" class="desk-logo"/>
                    <a class="b-gray-3-block-btn" href="#" target="_blank">Зарегистрироваться</a>
                </div>
            </div>
            <div class="b-gray-3-col">
                <div class="b-gray-3-block">
                    <div class="b-gray-3-block-text">
                        В офисах РоссельхозБанк
                    </div>
                    <div class="b-gray-3-block-text__small">
                        Откройте вклад с повышеной ставкой в ближайшем отделении
                    </div>
                    <a class="b-gray-3-block-btn" href="#" target="_blank">Найти адрес</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
