{% extends '../layouts/default.twig' %}
{% set head_title = 'Мобильный банк' %}
{% set body_class = '' %}
{% set menu_active = 'blank-page' %}
{% set page = 'mobile-bank' %}
{% set src = '/assets/img/mobile-bank/' %}

{% block page %}
<main class="mbank" id="download">
    <section class="mbank-top">
        <div class="container">
            <div class="mbank-top-text">
                <h1>Мобильный банк</h1>
                <p>Мгновенный доступ к вашим счетам и картам через Интернет</p>
                <img  src="{{ src }}qr.svg" class="qr" />
                <a id="playStore" style="padding-right: 8px" href="https://play.google.com/store/apps/details?id=ru.rshb.dbo"><img src="{{ src }}google.svg" /></a>
                <a id="appStore" href="https://apps.apple.com/us/app/mobil-nyj-bank-rossel-hozbank/id1117817509?l=ru#?platform=iphone"><img src="{{ src }}apple.svg" /></a>
            </div>
            <div class="mbank-top-img">
                <img src="{{ src }}top-img.png" />
            </div>
        </div>
    </section>
    <section class="mbank-control">
        <div class="container">
            <div class="b-tabbed ssmall">
                <div class="b-tabbed-head">
                    <a href="/natural/dbo/ibank/" class="b-tabbed-head-item "> Интернет-банк </a> <a href="/natural/dbo/mbank/" class="b-tabbed-head-item b-tabbed-head-item_active"> Мобильный банк </a>
                </div>
            </div>
            <h2>Возьмите управление финансами в свои руки</h2>


            <div class="carousel is-hidden" id="control">
                <div class="carousel-cell">
                    <div class="carousel-wrap">
                        <div class="carousel-img">
                            <img src="{{ src }}icon1.svg" />
                        </div>
                        <div class="carousel-text">
                            Переводите деньги по номеру телефона, на карту или счет внутри банка или за его пределы

                        </div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="carousel-wrap">
                        <div class="carousel-img">
                            <img src="{{ src }}icon2.svg" />
                        </div>
                        <div class="carousel-text">
                            Оплачивайте связь, интернет, ЖКХ, штрафы, налоги и многое другое

                        </div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="carousel-wrap">
                        <div class="carousel-img">
                            <img src="{{ src }}icon3.svg" />
                        </div>
                        <div class="carousel-text">
                            Будьте в курсе баланса средств на картах и счетах - вы мгновенно увидите все поступления и траты
                        </div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="carousel-wrap">
                        <div class="carousel-img">
                            <img src="{{ src }}icon4.svg" />
                        </div>
                        <div class="carousel-text">
                            Оформляйте новые продукты: подавайте заявки на карты и кредиты, открывайте вклады и счета, включая счета в драгоценных металлах
                        </div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="carousel-wrap">
                        <div class="carousel-img">
                            <img src="{{ src }}icon5.svg" />
                        </div>
                        <div class="carousel-text">
                            Погашайте кредиты, пополняйте вклады, подключайте автоплатежи
                        </div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="carousel-wrap">
                        <div class="carousel-img">
                            <img src="{{ src }}icon6.svg" />
                        </div>
                        <div class="carousel-text">
                            Заказывайте справки и выписки со счетов
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="b-gray-3">
        <div class="container">
            <h2>Как начать пользоваться Мобильным банком?</h2>
            <p>Это очень просто!</p>
            <div class="b-gray-3-row">
                <div class="b-gray-3-col">
                    <div class="b-gray-3-block">
                        <img src="{{ src }}ht-1.svg" />
                        <div class="b-gray-3-block-text"><a href="#download" data-scroll>Скачайте</a> и установите «Мобильный банк, Россельхозбанк» из магазинов приложений <span class="qr">или с помощью QR-кода</span>
                        </div>
                    </div>
                </div>
                <div class="b-gray-3-col">
                    <div class="b-gray-3-block">
                        <img src="{{ src }}ht-2.svg" />
                        <div class="b-gray-3-block-text">Подключите Мобильный банк удобным способом:
                            <ul>
                                <li>в приложении по номеру карты</li>
                                <li>через банкомат / терминал</li>
                                <li>в офисе Банка</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="b-gray-3-col">
                    <div class="b-gray-3-block">
                        <img src="{{ src }}ht-3.svg" />
                        <div class="b-gray-3-block-text">Войдите в Мобильный банк по номеру телефона, номеру карты или логину и пользуйтесь всеми возможностями!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mbank-newin">
        <div class="container">
            <h2>Новое в Мобильном банке</h2>


            <div class="carousel is-hidden" id="newin">
                <div class="carousel-cell">
                    <div>
                        <div class="carousel-img">
                            <img src="{{ src }}new-img4.png" />
                        </div>
                        <div class="carousel-text">
                            <h3>Новый дизайн Главного экрана</h3>
                            Удобный, современный, красивый!
                            На новом Главном экране Вы можете добавлять и скрывать нужные Вам продукты, нажав на «сердечко».
                        </div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div>
                        <div class="carousel-img">
                            <img src="{{ src }}new-img5.png" />
                        </div>
                        <div class="carousel-text">
                            <h3>Цифровая карта</h3>
                            Цифровая карта без пластикового носителя! Присвойте ей ПИН-код для операций в банкомате, добавьте ее в Apple Pay / Google Pay – карту можно использовать сразу же после выпуска.
                            Закажите в Витрине «Новый продукт».
                        </div>
                    </div>
                </div>

                <div class="carousel-cell">
                    <div>
                        <div class="carousel-img">
                            <img src="{{ src }}new-img7.png" />
                        </div>
                        <div class="carousel-text">
                            <h3>Оплата через СБП по QR-коду</h3>
                            Оплачивайте товары и услуги в торговых точках и интернете из Мобильного банка!
                            В приложении нажмите на кнопку «QR-код» и выберите «Оплата в магазине». Покупка через СБП – это быстро, просто и удобно.
                        </div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div>
                        <div class="carousel-img">
                            <img src="{{ src }}new-img2.png" />
                        </div>
                        <div class="carousel-text">
                            <h3>«Своя карта»</h3>
                            Флагманский карточный продукт с кешбэком до 15%. Закажите
                            в Мобильном банке кредитную
                            или дебетовую карту без визита в офис.

                        </div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div>
                        <div class="carousel-img">
                            <img src="{{ src }}new-img6.png" />
                        </div>
                        <div class="carousel-text">
                            <h3>Пополнение карт Банка без комиссии</h3>
                            Необходимо перевести деньги на карту Россельхозбанка из другого банка? Сделайте это быстро и без комиссии в разделе «Платежи и переводы», нажав на кнопку «Пополнить карту»!
                        </div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div>
                        <div class="carousel-img">
                            <img src="{{ src }}new-img1.png" />
                        </div>
                        <div class="carousel-text">
                            <h3>Push-уведомления</h3>
                            Бесплатный сервис уведомлений, чтобы вы всегда были в курсе операций
                            по картам и счетам. Подключается
                            в «Настройках».

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tabs-gray">
        <div class="container tabs">
            <ul>
                <li class="active" data-tab="tab1">Тарифы</li>
                <li data-tab="tab2">Документы</li>
                <li data-tab="tab3">Вопросы и ответы</li>
            </ul>
            <div class="tab tab1 active">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="tarif" style="background-image: url('{{ src }}tarif1.svg');">Подключение, использование
                            <span>Бесплатно</span>
                        </div>
                        <div class="tarif" style="background-image: url('{{ src }}tarif2.svg');">Оплата услуг (ЖКХ, мобильный телефон, Интернет и др.)
                            <span>От 0 рублей</span>
                        </div>
                        <div class="tarif" style="background-image: url('{{ src }}tarif3.svg');">Перевод по номеру карты / счета внутри Банка
                            <span>От 0 рублей</span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="tarif" style="background-image: url('{{ src }}tarif4.svg');">Перевод по номеру телефона (через СБП до 100 тысяч рублей в месяц)
                            <span>Бесплатно</span>
                        </div>
                        <div class="tarif" style="background-image: url('{{ src }}tarif5.svg');">Перевод другому клиенту Банка (между дебетовыми картами до 100 тысяч рублей в сутки)
                            <span>От 0 рублей</span>
                        </div>
                        <div class="tarif" style="background-image: url('{{ src }}tarif6.svg');">Пополнение карт РСХБ с карт других банков
                            <span>Без комиссии РСХБ</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tarif last" style="background-image: url('{{ src }}pdf.svg');">
                            <a href="https://www.rshb.ru/download-file/315260/%D0%A2%D0%B0%D1%80%D0%B8%D1%84%D1%8B%20(%D0%B2%D1%81%D1%82%D1%83%D0%BF%D0%B0%D1%8E%D1%82%20%D0%B2%20%D1%81%D0%B8%D0%BB%D1%83%2001.05.2020).pdf">
                                Тарифы ДБО Интернет-банк и Мобильный банк</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab tab2">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="tarif" style="background-image: url('{{ src }}pdf.svg');">
                            <a href="https://www.rshb.ru/download-file/255705/%D0%9F%D1%80%D0%B8%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%205.pdf">
                                Условия ДБО Интернет-банк и Мобильный банк</a>
                        </div>
                        <div class="tarif" style="background-image: url('{{ src }}pdf.svg');">
                            <a href="https://www.rshb.ru/download-file/280932/%D0%A0%D1%83%D0%BA%D0%BE%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%BE%20%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8F%20%D0%98%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82-%D0%B1%D0%B0%D0%BD%D0%BA%D0%B0.pdf">
                                Руководство пользователя системы Интернет-банк</a>
                        </div>
                        <div class="tarif" style="background-image: url('{{ src }}pdf.svg');">
                            <a href="https://www.rshb.ru/download-file/280933/%D0%A0%D1%83%D0%BA%D0%BE%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%BE%20%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8F%20%D0%BC%D0%BE%D0%B1%D0%B8%D0%BB%D1%8C%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%BF%D1%80%D0%B8%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F.pdf">
                                Руководство пользователя системы Мобильный банк</a>
                        </div>
                        <div class="tarif" style="background-image: url('{{ src }}pdf.svg');">
                            <a href="https://www.rshb.ru/download-file/291022/%D0%9F%D1%80%D0%B8%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%202.pdf">
                                Условия размещения и обслуживания вкладов в ДБО</a>
                        </div>
                        <div class="tarif" style="background-image: url('{{ src }}pdf.svg');">
                            <a href="https://www.rshb.ru/download-file/291026/%D0%9F%D1%80%D0%B8%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%202.pdf">
                                Условия открытия, обслуживания и закрытия счетов в ДБО</a>
                        </div>
                        <div class="tarif" style="background-image: url('{{ src }}pdf.svg');">
                            <a href="https://www.rshb.ru/download-file/305071/%D1%83%D1%81%D0%BB%D0%BE%D0%B2%D0%B8%D1%8F%20%D0%94%D0%9A%D0%91%20%D1%81%2031.12.pdf">
                                Условия ДБО Интернет-Банк и Мобильный банк (Действует с 31.12.2020)</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="tarif" style="background-image: url('{{ src }}pdf.svg');">
                            <a href="https://www.rshb.ru/download-file/305691/%D0%9F%D1%80%D0%B8%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%202.pdf">
                                Памятка по использованию системы ДБО</a>
                        </div>
                        <div class="tarif" style="background-image: url('{{ src }}pdf.svg');">
                            <a href="https://www.rshb.ru/download-file/397980/%D0%9F%D1%80%D0%B8%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%201.pdf">
                                Требования к устройствам для работы в системе ДБО физических лиц в АО «Россельхозбанк»</a>
                        </div>
                        <div class="tarif" style="background-image: url('{{ src }}pdf.svg');">
                            <a href="https://www.rshb.ru/download-file/430600/%D0%9F%D1%80%D0%B8%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5%203.pdf">
                                Условия открытия, обслуживания и закрытия счетов в драгоценных металлах с использованием системы Интернет-банк и Мобильный банк</a>
                        </div>
                        <div class="tarif" style="background-image: url('{{ src }}pdf.svg');">
                            <a href="https://www.rshb.ru/download-file/291020/4%20%D0%A0%D0%B5%D0%B3%D0%BB%D0%B0%D0%BC%D0%B5%D0%BD%D1%82%20%D0%B2%D0%B0%D0%BB%D1%8E%D1%82%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%BA%D0%BE%D0%BD%D1%82%D1%80%D0%BE%D0%BB%D1%8F.pdf">
                                Регламент валютного контроля</a>
                        </div>
                        <div class="tarif" style="background-image: url('{{ src }}pdf.svg');">
                            <a href="https://www.rshb.ru/download-file/291021/5%20%D0%9E%D0%B3%D1%80%D0%B0%D0%BD%D0%B8%D1%87%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B8%20%D0%BE%D1%81%D0%BE%D0%B1%D0%B5%D0%BD%D0%BD%D0%BE%D1%81%D1%82%D0%B8%20%D0%BF%D1%80%D0%B8%20%D0%BE%D1%81%D1%83%D1%89%D0%B5%D1%81%D1%82%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B8%20%D0%BF%D0%B5%D1%80%D0%B5%D0%B2%D0%BE%D0%B4%D0%BE%D0%B2.pdf">
                                Ограничения и особенности при осуществлении переводов</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab tab3">
                <div class="accord">
                    <div class="accord-item">
                        <input type="checkbox" id="chck1">
                        <label class="accord-item-label" for="chck1">Что такое цифровая карта и как ее оформить?</label>
                        <div class="accord-item-content">
                            <p>Цифровая карта – полноценная дебетовая карта, которая выпускается в мобильном приложении.</p>

                            <p>Преимущества:<br/>
                            •	Кешбэк до 15%<br/>
                            •	Выпуск и обслуживание – бесплатно<br/>
                            •	Выпускается за пару минут<br/>
                            •	Карта без пластика. Ехать в офис не нужно<br/>
                            •	Можно добавить в кошелек Apple Pay / Google Pay / Samsung Pay<br/>
                            •	Реквизиты карты и ПИН-код в карте – в приложении<br/>
                                •	Тарифный план «СВОЯ карта»</p>

                            <p>Выпустите Цифровую карту в мобильном приложении: перейдите в раздел «Оформить новый продукт» - «Дебетовые карты».</p>

                            После выпуска добавьте карту в кошелек Apple Pay / Google Pay / Samsung Pay и сразу начните пользоваться.


                        </div>
                    </div>
                    <div class="accord-item">
                        <input type="checkbox" id="chck2">
                        <label class="accord-item-label" for="chck2">Как добавить карту в платежный сервис, например, в Apple Pay и Google Pay?</label>
                        <div class="accord-item-content">

                            Для добавления карты в платежный сервис (кошелек) Apple Pay / Google Pay / Samsung Pay / Huawei Pay / Mir Pay в мобильном приложении перейдите в меню вашей карты, далее выберите закладку «Действия» - «Настройки».

                        </div>
                    </div>
                    <div class="accord-item">
                        <input type="checkbox" id="chck3">
                        <label class="accord-item-label" for="chck3">Как получить и отправить перевод по номеру телефона? Почему перевод не может быть отправлен?</label>
                        <div class="accord-item-content">

                            <p>В мобильном приложении и Интернет-банке доступна возможность получать и отправлять переводы по номеру телефона как клиентам Россельхозбанка, так и клиентам других банков – участников Системы Быстрых Платежей (СБП).</p>


                            <p>Для получения переводов по номеру телефона перейдите в раздел «Настройки» - «Переводы по номеру телефона» и включите опцию получения переводов.</p>

                            <p><strong>Для отправки переводов по номеру телефона:</strong><br/>
                            1.	Перейдите в раздел «Платежи» и выберите пункт меню «По номеру телефона».<br/>
                            2.	Введите номер телефона получателя или выберите его из записной книжки.<br/>
                            3.	Выберите из списка банк-получателя и укажите сумму перевода.<br/>
                                4.	Подтвердите операцию.<br/></p>

                            <p>Зачисление средств на счет получателя осуществляется практически мгновенно.</p>

                            <p>Комиссия за перевод со счетов дебетовых карт и с текущих счетов до 100 тыс. рублей в месяц не взимается.</p>

                            <p><strong>Почему перевод не может быть отправлен?</strong><br/>
                                Самая частая причина – получатель не дал разрешения на получение перевода по номеру телефона. Свяжитесь с получателем и попросите его в настройках приложения включить опцию получения переводов по номеру телефона.</p>


                        </div>
                    </div>
                    <div class="accord-item">
                        <input type="checkbox" id="chck4">
                        <label class="accord-item-label" for="chck4">Как сделать перевод с карты на карту?</label>
                        <div class="accord-item-content">
                           <p>В мобильном приложении и Интернет-банке доступна возможность переводить и пополнять карты Россельхозбанка, а также карты других банков.</p>
                            <p>
                            1.	Для перевода перейдите в раздел «Платежи» и выберите пункт меню «По номеру карты».<br/>
                            2.	Укажите карты списания и карту зачисления.<br/>
                            3.	Подтвердите операцию.<br/>
                            </p>
                            <p><strong>Варианты переводов:</strong>
                            •	С карты РСХБ на карту РСХБ (до 100 тыс. в сутки без комиссии) или на карту другого банка (с комиссией).<br/>
                            •	С карты другого банка на карту РСХБ (без комиссии) или на карту другого банка (с комиссией).<br/>
                            </p>
                            <p>
                            Также доступна возможность сохранения карт других банков для зачисления. Для перевода на ранее сохраненную карту выберите ее в списке карт зачисления.
                            </p>
                        </div>
                    </div>
                    <div class="accord-item">
                        <input type="checkbox" id="chck5">
                        <label class="accord-item-label" for="chck5">Что такое Push-уведомления и как подключить?</label>
                        <div class="accord-item-content">
                            <p>
                                <strong>Push-уведомления</strong> – это сообщения от Банка по различным событиям, поступающие на мобильное устройство пользователя с установленным Мобильным банком.</p>

                            <strong>Преимущества:</strong>
                            <p>
                            •	Моментальное поступление сообщений на мобильное устройство (если Push не доставлен, то поступит SMS)<br/>
                            •	Единая лента всех уведомлений в разделе «Уведомления»<br/>
                            •	Удобный поиск уведомлений: по ключевому слову или по типу операции<br/>
                            •	Защищенный канал передачи уведомлений от банка «Push»<br/>
                            •	Возможность поделиться любым уведомлением или удалить его.<br/>
                            </p>
                            Если не включены Push-уведомления при первом входе, то опция включения Push-уведомлений доступна в разделе мобильного приложения – «Еще» - «Настройки».

                        </div>
                    </div>
                    <div class="accord-item">
                        <input type="checkbox" id="chck6">
                        <label class="accord-item-label" for="chck6">Тарифы и лимиты на проведение операций</label>
                        <div class="accord-item-content">
                            <p> •	Подключение и использование системы – бесплатно<br/>
                            •	Оплата услуг (ЖКХ, мобильный телефон, Интернет и др.) – от 0 рублей<br/>
                            •	Перевод по номеру карты/ счета внутри Банка – от 0 рублей<br/>
                            •	Перевод по номеру телефона (через СБП до 100 тысяч рублей в месяц) - бесплатно<br/>
                            •	Пополнение карт РСХБ с карт других банков – без комиссии РСХБ<br/>
                           </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mbank-bottom">
        <div class="container">
            <div class="mbank-bottom-wrap">
                <div class="mbank-bottom-text">
                    <p>Станьте клиентом Россельхозбанка,
                        оформив <a href=" https://www.rshb.ru/natural/cards/">дебетовую</a> или <a href="https://www.rshb.ru/natural/loans/creditcard/" >кредитную карту</a>

                        на сайте или в <a href="https://www.rshb.ru/offices/">офисе</a> Банка и начните

                        пользоваться мобильным приложением.</p>
                </div>
                <div class="mbank-bottom-img">
                    <img src="{{ src }}svoya.png" />
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
