{% extends '../layouts/default.twig' %}
{% set head_title = 'Карьера в РХСБ' %}
{% set body_class = '' %}
{% set menu_active = 'blank-page' %}
{% set page = 'students' %}
{% set src = '/assets/img/students/' %}

{% block page %}
<main class="students">
    <section class="students-young">
        <div class="container">
            <div class="students-young-text">
                <h1>РоссельхозБанк для  студентов и молодых специалистов</h1>
            </div>
            <div class="students-young-img">
                <img src="{{ src }}yong-img.png" />
            </div>
        </div>
    </section>
    <section class="students-gray students-block">
        <div class="container">
            <div class="students-block-wrap">
                <div class="students-block-text">
                    <h4>Организация прохождения практики для студентов</h4>
                    <p>АО «Россельхозбанк» поддерживает целеустремленных студентов, стремящихся к профессиональному развитию и успешной карьере, ориентированных на высокие результаты и командную работу.</p>

                    С целью привлечения студентов для прохождения практики в АО «Россельхозбанк», представители банка ежегодно учувствуют в днях открытых дверей, ярмарках вакансий и других карьерных мероприятиях.
                        Наиболее успешные студенты зачисляются во внешний резерв кадров Банка и трудоустраиваются на стартовые должности в головном офисе и региональных филиалах.
                </div>
                <div class="students-block-img">
                    <img src="{{ src }}young1.png" />
                </div>
            </div>
            <div class="students-block-wrap-reverse">
                <div class="students-block-text">
                    <h4>Стипендии АО «Россельхозбанк» студентам ВУЗов,
                        подведомственных Министерству сельского хозяйства
                    </h4>
                    <p>Стипендиальная программа АО «Россельхозбанк» это флагманский образовательный проект, в рамках которого у студентов высших учебных заведений, подведомственных Министерству сельского хозяйства Российской Федерации есть возможность получения ежемесячной стипендии в размере 12 500 рублей в течение всего учебного года.</p>
                    <p>Стипендиальная программа АО «Россельхозбанк» это беспрецедентный и уникальный проект в котором задействовано 54 вуза, количество участников которого составляет 388 человек.
                        Основной целью Стипендиальной Программы является финансовая поддержка талантливой молодежи, создание условий для эффективного обучения учащихся, а также развитие и укрепление партнерских отношений с отраслевыми вузами.</p>
                    Опыт реализации Банком стипендиальной программы показывает весомую роль поддержки талантливых студентов и формирования резерва кадров для АПК из числа наиболее успешных студентов
                </div>
                <div class="students-block-img">
                    <img src="{{ src }}young2.png" />
                </div>
            </div>
        </div>
    </section>
    <section class="students-half students-block">
        <div class="container">
            <h4>Организация работы финансовых студенческих отрядов (ФСО) в период летних
                каникул на базе региональных филиалов Банка</h4>
            <div class="students-block-wrap">

                <div class="left">
                    <p>ФСО - это уникальный проект, реализуемый с целью поддержки государственной программы развития АПК. а также для информирования граждан, занимающихся развитием собственных подсобных хозяйств о программах льготного кредитования.</p>
                    Задачами проекта являются информирование граждан, занимающихся развитием собственных подсобных хозяйств о направлениях деятельности Банка, программах льготного кредитования, и другими специализированными банковскими продуктами и услугами
                    и привлечение студентов учебных заведений для участия в финансовых студенческих отрядах
                </div>
                <div class="right">
                    <p><strong>Студентами в рамках работы в ФСО осуществляются следующие мероприятия:</strong></p>
                    <ul>
                        <li>взаимодействие с потенциально-заинтересованными клиентами, первичное консультирование</li>
                        <li>информирование граждан о кредитных продуктах и вкладах</li>
                        <li>оформление документов;</li>
                        <li>оказание помощи в формировании кредитных досье заемщиков;</li>
                        <li>проведение презентаций о продуктах и услугах Банка;</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="students-gray students-block">
        <div class="container">
            <div class="students-block-wrap">
                <div class="students-block-text">
                    <h4>Создание научно-образовательных лабораторий и открытие новых брендированных аудиторий</h4>
                    <p>Создание научно-образовательной лаборатории в РГАУ-МСХА им. К.А.Тимирязева было обусловлено необходимостью объединить ресурсы Банка и Университета, с целью реализации совместных проектов путем формирования рабочих групп из числа сотрудников вуза и Банка.</p>
                    Целевое назначение Лаборатории в реализации совместных специализированных обучающих программ для работников Банка, использовании результатов научно-исследовательских работ в образовательном процессе, обучении клиентов Банка, студентов и аспирантов Университета, проведении открытых лекций, научных форумов и конференций.
                </div>
                <div class="students-block-img">
                    <img src="{{ src }}young3.png" />
                </div>
            </div>
        </div>
    </section>
    <section class="students-block">
        <div class="container">
            <div class="students-block-wrap-reverse">
                <div class="students-block-text">
                    <h4>Участие Банка в государственных программах: Всероссийская олимпиада «Я-профессионал» и WorldSkills
                    </h4>
                    <p>Банк придает большое значение поддержке талантливой молодежи в регионах, возможностям проявить свой потенциал, социальным лифтам для студентов и молодых специалистов.</p>
                    <p>С этой целью Банк поддерживает флагманский проект платформы «Россия – страна возможностей» Всероссийскую олимпиаду «Я – профессионал».</p>
                    В 2019 году по инициативе и при участии Банка впервые было представлено новое направление «Развитие АПК» на базе сельхозакадемии им.Тимирязева, которое получило большой отклик в молодежной среде – поступило около 11 000 заявок на участие, что свидетельствует о большом интересе к аграрному направлению.

                </div>
                <div class="students-block-img">
                    <img src="{{ src }}young4.png" />
                </div>
            </div>
            <div class="students-block-wrap">
                <div class="students-block-text">
                    <p>Кроме того, Банк поддерживает международное движение повышения стандартов профессиональной подготовки и квалификации кадров WorldSkills.
                    </p>
                    Целями данного проекта являются:
                        <ul>
                            <li>профориентация, соревнование и достижение профессионального мастерства студентами и молодыми специалистами различных отраслей</li>
                            <li>оказание социальной поддержки молодежи</li>
                            <li>поддержание талантливых студентов, содействие развитию их потенциала</li>
                            <li>поддержание тенденции сближения системы образования с реальными задачами предприятий и соответствия лучшим международным практикам.</li>
                        </ul>
                </div>
                <div class="students-block-img">
                    <img src="{{ src }}young5.png" />
                </div>
            </div>
            <p style="padding-bottom: 24px;">По всем возможным вопросам в части организации работы со студентами и молодыми специалистами можно обратиться к работнику Департамента по работе с персоналом к Галустову Давиду Игоревичу по адресу <a href="mailto:GalustovDI@rshb.ru">GalustovDI@rshb.ru</a></p>
        </div>
    </section>
    <section class="students-gray students-block">
        <div class="container">
            <div class="students-young-for-wrap">
                <a class="students-young-for-left" href="https://rshbstart.ru/" target="_blank">
                    <div class="container">
                        <h3>Digital стажировки в РСХБ</h3>
                        Формирование молодой и креативной команды, способной внести свой вклад в развитие самых перспективных инициатив, связанных <br>с созданием новых цифровых продуктов и сервисов для клиентов
                    </div>
                </a>
                <a class="students-young-for-right" href="https://www.rshb.ru/promo/job/">
                    <div class="container">
                        <h3>Вакансии контакт-центра</h3>
                        Если Вы студент, молодой специалист или просто хотите улучшить свое финансовое положение без отрыва от основной деятельности
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>
{% endblock %}
