<section class="footer">
  <div class="container">
    <div class="row">
     <div class="col-12 col-sm-6 col-md-4 ">
       <img src="{{ src }}/logo_rshb_gray.svg" />
     </div>
      <div class="col-12 col-sm-6 col-md-4 d-flex align-items-center">
        <a href="https://www.instagram.com/rshb_official" target="_blank"><img src="{{ src }}/social-icon_instagram.svg" /></a>
          <a href="https://www.ok.ru/group/52665958400202" target="_blank"><img src="{{ src }}/social-icon_ok.svg" /></a>
          <a href="https://vk.com/rshbru" target="_blank"><img src="{{ src }}/social-icon_twitter.svg" /></a>
          <a href="https://vk.com/rshbru" target="_blank"><img src="{{ src }}/social-icon_vk.svg" /></a>
          <a href="https://www.facebook.com/rshb.ru" target="_blank"><img src="{{ src }}/social-icon_facebook.svg" /></a>
      </div>
      <div class="col-12 col-md-4  text-sm">
        119034, г. Москва, Гагаринский пер., д.3.<br/>
        E-mail: office@rshb.ru
      </div>
    </div>
      <div class="row">
          <div class="col-12 text-xs" style="padding: 0"><div class="pt-1" style="border-top: 1px solid #d9d9d9" >© 2000-2021 АО «Россельхозбанк» Генеральная лицензия Банка России № 3349 от 12.08.2015 г.<div></div>
      </div>
  </div>
</section>
